<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback UI</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="container">
      <h1 class="heading">Feedback UI</h1>
      <div id="ratings-container">
        <div class="rating">
          <span class="emoji" aria-hidden="true">😞</span>
          <small>Unhappy</small>
        </div>

        <div class="rating">
          <span class="emoji" aria-hidden="true">😐</span>
          <small>Neutral</small>
        </div>

        <div class="rating">
          <span class="emoji" aria-hidden="true">😊</span>
          <small>Satisfied</small>
        </div>
      </div>
      <button id="btn">Send Review</button>
    </div>
  </body>
</html>
