<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bouncing Letter</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <h1 class="bouncing-letters" style="letter-spacing: 0.3px">
      <span>H</span>
      <span>o</span>
      <span>v</span>
      <span>e</span>
      <span>r</span>
      <span> </span>
      <span>M</span>
      <span>e</span>
      <span>!</span>
    </h1>
  </body>
</html>
